
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Darumadrop+One&family=Edu+QLD+Hand:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --header-font:  "Atma", system-ui;
  --secondary-font: "Edu QLD Hand", 'cursive';
  --roboto-font:"Roboto", sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--roboto-font);
}
a{
    text-decoration: none;
    all: unset;
    cursor: pointer;
}
svg{
    height: 3rem;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient(170deg, skyblue 0%, skyblue 20%,skyblue 40% ,skyblue 59% , #e4e2e2 59.1%);
}
.about-me{
    height: 100vh;
    max-width: 1300px;
    padding: 5rem;
    display: flex;
    align-items: center;
}
.img-section{
    flex: 1;

    position: relative;
    min-width: 400px;
}
.aboutme-text{
    
    flex: 2;
    padding: 2rem;
    border: .2rem solid black;
    background-color: rgba(211, 207, 207, 0.517);
    transition: box-shadow 0.2s linear;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.aboutme-text:hover{
    box-shadow: .9rem .9rem .9rem rgba(0, 0, 0, 0.425);
}
#main-img{
    width: 100%;
    height: 100%;
    object-fit: cover   ;
    margin: 0 auto;
    transition: box-shadow 0.2s linear;
}
#main-img:hover{
    box-shadow: 0rem 1rem 1.2rem rgba(32, 30, 30, 0.773);
}
.aboutme-text * h2{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: var(--header-font);
}
.card > img{
  border-radius: 1rem;
}
.aboutme-text * p{
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    font-weight: 500;
    margin-bottom: 2rem;
}
.img-section > h1{
    color: rgba(231, 176, 24, 0.737);
    font-size: 3rem;
    position: absolute;
    bottom: 4%;
    left: 14%;
    font-family: var(--header-font);
} 
.icons{
    display: flex;
    justify-content: end;
    gap: 1rem;

}
.icon{
    font-size: 2.3rem;
    
}
.icons > a{
    transition: transform 0.5s linear;
}
.icons > a:hover{
    transform: scale(1.2) rotate(360deg);
}

/** projects section style **/

.projects{
  max-width: 1300px;
  padding: 2rem 0;
  
}

.projects > h2{
    font-size: 3rem;
    font-family: var(--header-font);
    margin-bottom: 1.5rem;
}
.my-works{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 3rem;
    margin: 3rem 0;
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d5d7da4;
  padding: 0px 2rem;
}
.card{
  
  display: flex;
  flex-direction:column;
  padding: 2rem 3rem;
  background-color: rgba(236, 232, 232, 0.888);
  transition: transform 0.2s linear;
}
.card:hover{
  transform: translateY(-1.2rem);
}
.card:hover .card-img{
  filter: none;
}
.card-img{
  filter: blur(8px) brightness(0.8) grayscale(60%);
  flex: 1;
  transition: filter 0.2s linear;
  width: 100%;
  height: auto;
  
}

.card-main-text{
  flex: 2;
}
.card-main-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin-top: 1.5rem;

}
.card-main-text > h4{
  font-size: 2rem;
  font-family: var(--header-font);
}
.card-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.card-inner-p{
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  font-weight: 500;
}


/* footer styles here */
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(19, 18, 18, 0.936);
  color: rgb(196, 191, 191);
}
.contact{
  max-width: 1300px;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7rem;
}
.contact-text{
  width: 50%;
}
.contact-text > h2{
  font-size: 3rem;
  font-family: var(--header-font);
}
.contact-text > h5{
  font-size: 1.8rem;

}
.footer-img-section{
  width: 50%;
}
.footer-img-section > img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.phone > a{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin-top: 1rem;
}
#phone-number{
  font-size: 1.5rem;
  font-weight: 500;
}

.mail > a{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;

}
#mail-id{
  font-size: 1.5rem;
  font-weight: 500;
}
#footer-icons{
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 1.5rem;
  gap: 2rem;
}
.footer-icon-single{
  font-size: 1.4rem;
}
@media (max-width: 1000px) {
  .about-me {
    flex-direction: column;
    padding: 1rem;
  }
  .img-section{
    height: 400px;
  }
  .aboutme-text{
    max-height: 45%;
    /* min-width: 490px; */
    padding: 1rem;

  }
  .aboutme-text * h2{
    font-size: 2rem;
  }
  .aboutme-text * p{
    font-size: 1.2rem;
  }
    .img-section > h1{
    font-size: 2.5rem;
    left: 20%;
  }
  #main-img:hover{
    box-shadow: 1rem 0rem 1.2rem rgba(32, 30, 30, 0.773);
}
.card-main-text > h4{
  font-size: 1.8rem;
}
.projects{
  padding: 2rem 2rem;
    
}
.contact{
  padding: 3rem 2rem;

}
footer{
  justify-content: start;
}
.contact-text{
  width: 100%;
}
.mail > a{
  gap: 0.3rem;
}
.phone > a{
  gap: 0.3rem;
}
.footer-img-section{
  display: none;
}
.card-inner-p{
  font-size: 1.2rem;
}
.my-works{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}
.contact-text > h2{
  font-size: 3rem;
}
.contact-text > h5{
  font-size: 1.3rem;
}
.card{
  padding: 1.5rem 2rem;
}

}


@media (max-width: 500px) {
  .about-me {
    flex-direction: column;
    gap: 0px 0.3rem;
    /* height: 110vh; */
  }
  .img-section{
    height: 50%;
    min-width: 300px;
  }
  .projects > h2{
    font-size: 2rem;
}
  .img-section > h1{
    font-size: 2rem;
    left: 18%;
  }
  .aboutme-text{
    height: 50%;
    min-width: 300px;
    border: none;
    background-color: transparent;

  }
  .icons{
    justify-content: center;
  }
  .aboutme-text:hover{
    box-shadow: none;
  }
  .aboutme-text * h2{
    font-size: 1.6rem;
  }
  .aboutme-text * p{
    font-size: 1rem;
  }
  #main-img:hover{
    box-shadow: 1rem 0rem 1.2rem rgba(32, 30, 30, 0.773);
}
.card-main-text{
  flex-wrap: wrap;
}
.projects{
    padding: 2rem 0.5rem;
}
.card-inner-p{
  font-size: 1.2rem;
}
.card-main-text > h4{
  font-size: 1.5rem;
}
.icon{
  font-size: 1.8rem;
}
svg{
    height: 2rem;
}
.card-icons{
  gap: 0.5rem;
}
.contact{
  padding: 2rem 1rem;
}
.contact-text > h2{
  font-size: 2rem;
  margin-bottom: 1rem;

}
.contact-text > h5{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
#mail-id  {
  font-size: 1rem;

}
#footer-icons{
  margin-top: 2rem;
}
#phone-number  {
  font-size: 1rem;
}
.phone{
  margin-bottom: 0.6rem;
}
.footer-icon-single{
  font-size: 1rem;
}
}